# Brevo mail
BREVO_API_KEY = 

# Mongodb
MONGODB_URI = 

# Mailtrap
HOST_MAILTRAP = 
PASS_MAILTRAP = 
PORT_MAILTRAP = 
USER_MAILTRAP = 

# Microservice (IA)
PYTHON_MICROSERVICE_URL = 

# Cloudinary
CLOUDINARY_CLOUD_NAME =
CLOUDINARY_API_KEY = 
CLOUDINARY_API_SECRET = 

# Stripe
STRIPE_SECRET_KEY = 

# JWT Secret
JWT_SECRET = 